{% set fieldSelectionList = oView.getFieldSelection() %}
{% set shopUrl = oViewConf.getShopUrl() %}
{% set imagePath = oViewConf.getShopUrl() ~ 'out/modules/oxid_solute/img/icon/' %}

<!doctype html>
<html lang="de">
    <head>
        <style>
            @import url('{{ oViewConf.getModuleUrl('oxid_solute','css/ajaxCore.css') }}');
            @import url('{{ oViewConf.getModuleUrl('oxid_solute','css/ajaxArticleList.css') }}');
            @import url('{{ oViewConf.getModuleUrl('oxid_solute','css/ajaxFieldDefinition.css') }}');
        </style>
    </head>

    <body>
        <input id="shopUrl" type="hidden" value="{{ shopUrl }}" />
        <input id="shopId" type="hidden" value="{{ oView.getShopId() }}" />

        <dialog id="modalWindow">
            <div>
                <input id="translationSubmitButtonLabel" type="hidden" value="{{ translate({ ident: "UMSOLUTE_BUTTON_SUBMIT" }) }}" />
                <a onclick="closeModal();" title="{{ translate({ ident: "UMSOLUTE_MODAL_CLOSE" }) }}" class="close">X</a>
                <div id="modalContent"></div>
            </div>
        </dialog>

        <div id="bodyDiv"></div>

        <div id="content">
            <h1>{{ translate({ ident: "UMSOLUTE_TITLE_EDIT_FIELD_DEFINITION" }) }}</h1>

            <div>

                <div class="list-row">
                    <div></div>
                    <div></div>
                    <div class="listHeader">{{ translate({ ident: "UMSOLUTE_COL_LABEL_ATTRIBUTE_GROUP" }) }}</div>
                    <div class="listHeader">{{ translate({ ident: "UMSOLUTE_COL_LABEL_FIELD_NAME" }) }}</div>
                    <div></div>
                </div>

                <div class="list-row">
                    <div class="listValidateButton"></div>
                    <div class="listValidateButton" onclick="openModal();">
                        <img src="{{ imagePath }}plus-solid.svg" class="icon-button" />
                    </div>
                    <div class="listItem"></div>
                    <div class="listItem"></div>
                    <div></div>
                </div>

                {% for row in fieldSelectionList %}
                    <div class="list-row" id="definition_{{ row.OXID }}">
                        <div class="listValidateButton" onclick="deleteDefinition('{{ row.OXID }}')">
                            <img src="{{ imagePath }}trash-can.svg" class="icon-button" />
                        </div>
                        <div class="listValidateButton" onclick="openModal('{{ row.OXID }}');">
                            <img src="{{ imagePath }}pencil.svg" class="icon-button" />
                        </div>
                        <div class="listItem">
                            {{ row.UM_TITLE }}
                        </div>
                        <div class="listItem">
                            {{ row.UM_FIELD_TITLE }}
                        </div>
                        <div></div>
                    </div>
                {% endfor %}

            </div>
        </div>

    </body>

    <script type="text/javascript" src="{{ oViewConf.getModuleUrl('oxid_solute','js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ oViewConf.getModuleUrl('oxid_solute','js/ajaxEditDefinition.js') }}"></script>
